.custom-header {
    /* position: relative; */
    background-color: #6aa7d6a9;
  }
  
.login-here {
    margin-bottom: 0%;
  }
  
  /* .actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
  }
  
  .actions .new-here {
    margin-right: 10px;
  } */
  